@import url('https://fonts.googleapis.com/css?family=Megrim|Nixie+One');

html,body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Nixie One', cursive;
	font-weight: bold;
}
