section#contact.contact.main__section
	h2.contact__title.section-title Contact me
	form.contact__form
		p.contact__form__feedback-message
		div.contact__form__input-container
			label.contact__form__input-container__label Name
			input.contact__form__input-container__input.js-form__name(type="text")
		div.contact__form__input-container
			label.contact__form__input-container__label Email
			input.contact__form__input-container__input.js-form__email(type="email")
		div.contact__form__input-container
			label.contact__form__input-container__label Subject
			input.contact__form__input-container__input.js-form__subject(type="text")
		div.contact__form__input-container
			label(required).contact__form__input-container__label Message
			textarea.contact__form__input-container__input.contact__form__input-container__input--textarea.js-form__message
		//button.contact__form__input-container__submit.is-disabled(type="submit" data-key="") Send
			i.fa.fa-send
		div.g-recaptcha(data-sitekey="6LfxYykUAAAAALVAFyBMLq4WD5xExENrFCk7YDam" data-callback="onSubmit" data-size="invisible")
		button.contact__form__input-container__submit.js-form__submit Submit

