header.header
	div.container
		p.header__logo Raul de Melo
		nav.header__menu
			ul.header__menu__list
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#about") About
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#skills") Skills
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#portfolio") Portfolio
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#social") Social
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#contacts") Contact
