header.header.is-transparent
	div.container
		a.header__logo(href="#top") Raul de Melo
		nav.header__menu
			ul.header__menu__list
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#about") About
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#skills") Skills
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#portfolio") Portfolio
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#contact") Contact
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#social") Social
