header.header
	div.container
		p.header__logo Raul de Melo
		nav.header__menu
			ul.header__menu__list
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#sobre") About
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#habilidades") Skills
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#portifolio") Portfolio
				li.header__menu__list__item
					a.header__menu__list__item__link(href="#rodape") Contact
