section.home
  div.home__photo
    img(src="img/raul.jpg" alt="Foto do Raul")
  div.home__informations
    h1.home__informations__name Raul F. de Melo
    p.home__informations__job Desenvolvedor Front-End
