section(id="portifolio" class="section-js")
    h2 Portifólio
    // Taco
    div(class="card" data-repo="taco")
        div(class="card-img")
            img(src="img/api.png" width="320px" height="167px" alt="Imagem informando que este projeto se trata de uma API")
        div(class="card-content")
            h3 Taco - Tabela brasileira de composição de alimentos
            p API desenvolvida em NodeJS apenas para prover os dados da TACO (Unicamp) em formato JSON e facilitar o uso em aplicações com foco alimentar.
        div(class="card-footer")
            a(href="https://github.com/raulfdm/taco" target="_blank" class="link-projeto") ver mais
                i(class="fa fa-external-link" aria-hidden="true")
            p(class="data-atualizacao") Atualizado em #[time 24/09/2016]
    // Bdbuilder
    div(class="card" data-repo="bodybuilder-card")
        div(class="card-img")
            img(src="img/api.png" width="320px" height="167px" alt="Imagem informando que este projeto se trata de uma API")
        div(class="card-content")
            h3 Bodybuilder Card
            p API desenvolvida em NodeJS para manter uma base de dados de atletas fisiculturistas contento uma foto de sua melhor apresentação, estatisticas e atributos. Esses dados servirão futuramente para a criação de um card game.
        div(class="card-footer")
            a(href="https://github.com/raulfdm/bodybuilder-card" target="_blank" class="link-projeto") ver mais
                i(class="fa fa-external-link" aria-hidden="true")
            p class="data-atualizacao"Atualizado em #[time 24/09/2016]
    // Controle de Ponto
    div(class="card" data-repo="controle-ponto")
        div(class="card-img")
            img(class="cinza" src="img/controle-ponto-full.png" alt="Imagem da tela inicial do controle de ponto")
        div(class="card-content")
            h3 Controle de Ponto
            p Aplição desenvolvida para fazer o controle de registros de pontos, utilizando Javascript puro, ES6 e tecnologias adjacentes. Migração para utilizar React em andamento.
        div(class="card-footer")
            a(href="https://github.com/raulfdm/controle-ponto" target="_blank" class="link-projeto") ver mais
                i(class="fa fa-external-link" aria-hidden="true")
            p(class="data-atualizacao") Atualizado em #[time 28/10/2016]
    // Resume
    div(class="card" data-repo="resume")
        div(class="card-img")
            img(src="img/resume-full.png" width="320px" height="167px" alt="Imagem da tela inicial do site do currículo")
        div(class="card-content")
            h3 Resume
            p Site desenvolvido para prática do desenvolvimento web. A proposta foi converter o PDF do meu currículo para um website responsivo.
        div(class="card-footer")
            a(href="https://github.com/raulfdm/resume" target="_blank" class="link-projeto") ver mais
                i(class="fa fa-external-link" aria-hidden="true")
            p(class="data-atualizacao") Atualizado em #[time 06/10/2016]
    | 
    // Algoritmo
    div(class="card" data-repo="algoritmo")
        div(class="card-img")
            img(src="img/algoritmo-full.png" width="320px" height="167px" alt="Imagem da tela inicial do site do projeto algoritmo de sistemas produtivos")
        div(class="card-content")
            h3 Algoritmo Sistemas Produtivos
            p Algoritmo desenvolvido para resolver um algoritmo proposto na aula de strongSistemas Produtivos. Seu proposito é analisar uma matriz e calcular o menor custo produtivo.
        div(class="card-footer")
            a(href="https://github.com/raulfdm/algoritmo-sistemas-produtivos/" target="_blank" class="link-projeto") ver mais
                i(class="fa fa-external-link" aria-hidden="true")
            p(class="data-atualizacao") Atualizado em #[time 24/05/2016]




