section#skills.skills.main__section
	h2.section-title.skills__title Skills
	div.skills__container.container
			for ability in abilities
				div.skills__group
					p.skills__group__title=ability.title
					ul.skills_group__skill-list
						for x in ability.skills
							li.skills_group__skill-list__item=x
