setion.social.section
	h2.section-title.social__title Social
	ul.social__list
		li.social__list__item
			a.social__list__item__link.fa.fa-codepen(href="http://codepen.io/raulfdm/" target="_blank" aria-hidden="true")
		li.social__list__item
			a.social__list__item__link.fa.fa-github(href="http://github.com/raulfdm" target="_blank" aria-hidden="true")
		li.social__list__item
			a.social__list__item__link.fa.fa-linkedin-square(href="http://linkedin.com/in/raulfdm" target="_blank" aria-hidden="true")
		li.social__list__item
			a.social__list__item__link.fa.fa-envelope(href="mailto:melo.raulf@gmail.com" aria-hidden="true")
		li.social__list__item
			a.social__list__item__link.fa.fa-medium(href="https://medium.com/@raul_fdm" aria-hidden="true" target="_blank")
		li.social__list__item
			a.social__list__item__link.fa.fa-twitter(href="http://twitter.com/raul_fdm" target="_blank" aria-hidden="true")
