footer(id="rodape") 
    h2 Me Contate
    section(class="rodape-contatos") 
        ul 
            li 
                a(href="http://github.com/raulfdm" target="_blank" Githubi class="fa fa-github" aria-hidden="true") 
            li 
                a(href="http://linkedin.com/in/raulfdm" target="_blank" Linkedini class="fa fa-linkedin-square" aria-hidden="true")
            li
                a(href="http://facebook.com/raulfdm" target="_blank" Facebooki class="fa fa-facebook-official" aria-hidden="true")
            li
                a(href="mailto:melo.raulf@gmail.com" E-maili class="fa fa-envelope" aria-hidden="true")
            li
                a(href="http://twitter.com/raul_fdm" target="_blank" Twitteri class="fa fa-twitter" aria-hidden="true")
            li
                a(href="http://codepen.io/raulfdm/" target="_blank" Codepeni class="fa fa-codepen" aria-hidden="true") 

    section(class="rodape-copyright") 
        p Developed by Raul F. de Melo

