section(id="home" class="section-js" style="background-image:url('img/background.jpg');") 
    // Blue efect
    div(class="over") 
        // Personal Picture
        div(class="img") 
            img(src="img/raul.jpg" alt="Foto do Raul") 
            // General Infos
        div(class="infos")
            h1(class="infos-nome" Raul F. de Melo span class="infos-cargo") Desenvolvedor Front-End