nav(id="menu")
    ul
        li
            a(id="meu-nome" data-scroll href="#home")
                | Raul de Melo #[small Dev. Front-end]
        li
            a(data-scroll href="#sobre" class="")
                i(class="fa fa-user" aria-hidden="true")
                    p About
        li
            a(data-scroll href="#habilidades" class="")
                i(class="fa fa-terminal" aria-hidden="true")
                    p Skills
        li
            a(data-scroll href="#portifolio" class="")
                i(class="fa fa-suitcase" aria-hidden="true")
                    p Portfolio
        li
            a(data-scroll href="#rodape" class="")
                i(class="fa fa-address-card-o" aria-hidden="true")
                    p Contact
