section.skills
    h2.skills__title Habilidades
    div.skills__container
    // LIBS
    div.skills__category
        h3.skills__category__title Bibliotecas
    div.skills__category__skill
        p.skills__category__skill-name BabelJS
    skills__category__skill
        p.skills__category__skill-name Jasmine
    skills__category__skill
        p.skills__category__skill-name jQuery
    skills__category__skill
        p.skills__category__skill-name MomentJS
    skills__category__skill
        p.skills__category__skill-name ReactJS
    // CODE Front
    div.skills__category
        h3.skills__category__title Code Front
    skills__category__skill
        p.skills__category__skill-name CSS
    skills__category__skill
        p.skills__category__skill-name HTML
    skills__category__skill
        p.skills__category__skill-name Javascript
    skills__category__skill
        p.skills__category__skill-name Perfomance
    skills__category__skill
        p.skills__category__skill-name Sass
    skills__category__skill
        p.skills__category__skill-name SEO
    //  CODE Back
    div.skills__category
        h3.skills__category__title Code Back
    skills__category__skill
        p.skills__category__skill-name Android
    skills__category__skill
        p.skills__category__skill-name Java
    skills__category__skill
        p.skills__category__skill-name NodeJS
    skills__category__skill
        p.skills__category__skill-name SQL Oracle
    div(class="categoria" )
    //Frameworks
        h3.skills__category__title Frameworks
    skills__category__skill
        p.skills__category__skill-name AngarJS 1.x
    skills__category__skill
        p.skills__category__skill-name AngarJS 2
    skills__category__skill
        p.skills__category__skill-name Bootstrap 3
    skills__category__skill
        p.skills__category__skill-name MaterializeCSS
    //Ferramentas
    div.skills__category
        h3.skills__category__title Ferramentas
    skills__category__skill
        p.skills__category__skill-name Git
    skills__category__skill
        p.skills__category__skill-name Gp
    skills__category__skill
        p.skills__category__skill-name NPM/Yarn
    skills__category__skill
        p.skills__category__skill-name Photoshop
    //Patterns e Técnicas
    div.skills__category
        h3.skills__category__title Patterns e Técnicas
    skills__category__skill
        p.skills__category__skill-name Programção Funcional
    skills__category__skill
        p.skills__category__skill-name Mobile First
    skills__category__skill
        p.skills__category__skill-name MVC
    skills__category__skill
        p.skills__category__skill-name Orientação a Objetos
    skills__category__skill
        p.skills__category__skill-name Regar Expressions
    skills__category__skill
        p.skills__category__skill-name SEO
    skills__category__skill
        p.skills__category__skill-name TDD
