body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    color: $preto-claro;
}

a:visited,
a {
    color: inherit;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Philosopher', sans-serif;
}

//Estilos Gerais
.hide {
    display: none;
}