body{
    font-family: 'Coming Soon', cursive;    
}
main {
    display: flex;
    flex-wrap: wrap;    
    section,footer {
        width: 100%;                                      
    }
    section{
        padding: 1em;
        &>h2{            
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            font-size: 1.8em;
            line-height: 1.7em;
        }
    }
    
}

a:visited,a{
    color: inherit;
}
a{
    text-decoration: none;
}

//Estilos Gerais

.hide{
    display: none;
}

.active{
    color: hotpink !important;
    &:before{
        content: ('{ ');
    }
    &:after{
        content: (' }');
    }
}