body{
    font-family: 'Dosis';
}
main {
    display: flex;
    flex-wrap: wrap;    
    section,footer {
        width: 100%;
        margin: 1px 0;
        padding: 1em 0;                        
    }
    section{
        &>h2{
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            font-size: 1.8em;
            line-height: 1.7em;
        }
    }
    
}

a:visited,a{
    color: inherit;
}
a{
    text-decoration: none;
}