.contact{
	background-color: var(--secondary-color);
}
.contact__form{
	max-width: 760px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.contact__form__feedback-message{
	display: none;
	text-align: center;
	font-size: 1.2rem;
}
.contact__form__input-container{
	display: flex;
	flex-direction: column;
	margin: .5rem 0;
}

.contact__form__input-container__input{
	background-color: #fff;
	height: 2.25rem;
	width: 100%;
	line-height: 1.5;
	padding: .4rem;
	color: var(--font-color);
	font-size: 1rem;
	font-family: 'Raleway',sans-serif;
	letter-spacing: .0125rem;
	border: 1px solid var(--primary-color);
}

.contact__form__input-container__input:focus{
	outline: none;
}
.contact__form__input-container__input--textarea{
	height: 10rem;
}
.contact__form__input-container__label{
	margin-bottom: .3125rem;
}

.contact__form__input-container__submit{
	width: 100px;
	padding: .8rem;
	border: none;
	font-size: .8rem;
	text-transform: uppercase;
	background-color: var(--contrast-color);
	color: var(--secondary-color);
	cursor: pointer;
}
.contact__form__input-container__submit .fa{
	margin-left: .3125rem;
}
