.home__photo {
	width: 100%;
	height: 100vh;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-position-x: 40%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: grayscale(80%);
}

.home__title {
	text-align: center;
	font-size: 4rem;
	font-family: 'Megrim', cursive;
	color: white;
	font-weight: bold;
}

@media screen and (max-width: 1116px) {
	.home__title {
		font-size: 3rem;
	}
}
