.scroll-downs {
	position: absolute;
	right: 0;
	bottom: 1rem;
	left: 0;
	margin: auto;
	width: 2.125rem;
	height: 3.4375rem;
}

@media screen and (max-height: 415px) {
	.scroll-downs {
		display: none;
	}
}

.mousey {
	width: 3px;
	padding: 10px 15px;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 25px;
	opacity: 0.75;
}

.scroller {
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #fff;
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}

@keyframes scroll {
	0% {
		opacity: 0;
	}
	10% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(15px);
		opacity: 0;
	}
}
