.header {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	padding: 1rem 0 0 0;
	position: fixed;
	top: 0;
	z-index: 4;
	transition: all .4s ease-in-out;
}

.header.hidden {
	transform: translateY(-100%);
}

.header__logo {
	--font-size-title: 2.5rem;
	display: inline-block;
	font-size: var(--font-size-title);
	line-height: var(--font-size-title);
	text-align: center;
	font-family: 'Megrim', cursive;
	margin-right: 1rem;
	color: inherit;
	text-decoration: none;
}

.header__menu {
	margin-left: auto;
}

.header__menu__list {
	letter-spacing: 2px;
	text-align: center;
}

.header__menu__list__item {
	display: inline-block;
}

.header__menu__list__item__link {
	display: inline-block;
	padding: 1rem;
	font-size: 1.2rem;
	font-family: 'Nixie One';
	text-decoration: none;
	color: inherit;
	transition: .3s all;
	text-transform: uppercase;
}

@media screen and (max-width: 440px) {
	.header__menu__list__item__link {
		font-size: .65rem;
	}
}
@media screen and (min-width: 441px) and (max-width: 720px) {
	.header__menu__list__item__link {
		font-size: .8rem;
	}
}
@media screen and (max: 721px) {
	.header__menu__list__item__link {
		font-size: 1.3rem;
	}
}
@media screen and (max: 721px) {

}


.header__menu__list__item__link:hover {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

@media screen and (max-width: 1116px) {
	.header .container {
		width: 100%;
	}
	.header__logo {
		font-size: 2rem;
		margin-right: 0;
		margin-bottom: .8rem;
	}
	.header__menu {
		margin-left: 0;
		width: 100%;
	}
	.header__menu__list {
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.header__menu__list__item {
		flex-grow: 1;
	}
	.header__menu__list__item__link {
		width: 100%;
		align-self: center;
		padding: 1rem 0;
		margin: 0 .1rem;
	}
}
