//Cores
$preto-claro: rgb(39, 39, 39);
$cinza-card: rgba(160, 160, 160, 0.2);
//Azuis principais
//$azul-default: rgba(41, 128, 185, .8);
$azul1: #4A97CA;
$azul2: #0C78BF;
$azul3: #09588C;
$azul4: #042840;
//Media-queries
$tablet:"screen and (min-width: 769px)";
$desktop: "screen and (min-width: 980px)";
$widescreen: "screen and (min-width: 1180px)";