//Cores
$preto-claro: rgb(39,39,39);
$cinza-card: rgba(160,160,160,0.2);

//Azuis principais
//$azul-default: rgba(41, 128, 185, .8);
$azul1: #4A97CA;
$azul2: #0C78BF;
$azul3: #09588C;
$azul4: #042840;

//Media-queries
$md-sm-md:"(min-width: 450px)";
$md-md:"(min-width: 620px)";
$mq-md-lg: "(min-width: 860px)";
$mq-lg: "(min-width: 1200px)";