.portfolio__card__footer {
	padding: .4rem .6rem;
	display: flex;
	flex-direction: column;
}

.portfolio__card__footer__title {
	width: 100%;
	margin-bottom: .3125rem;
	font-weight: bold;
}

.portfolio__card__footer__content__badge {
	background-color: var(--contrast2-color);
	color: #fff;
	font-size: .8rem;
	padding: .3rem;
	display: inline-block;
	margin: .2rem;
}
