@import './_card-header.css';
@import './_card-body.css';
@import './_card-footer.css';
.portfolio__card {
	width: 100%;
	margin: .5rem;
	border: 1px solid #eee;
}

@media screen and (min-width:892px) {
	.portfolio__card {
		max-width: 350px;
	}
}
