
  $primary-color: #584b4f;
  $secondary-color: #faf6ec;
  $secondary2-color: #efeae1;
  $contrast-color: #ba3525;
  $contrast2-color: #3b9b6d;
  $font-color: #4c4245;
  $error-color: #c62828;
  $success-color: #43a047;
