section(id="sobre" class="section-js")
    h2 Sobre
    p 
    | Amante de jogos, tive contato com tecnologia de desenvolvimento pela primeira vez aos 14 anos, enquanto tentava subir um servidor de 
    a(href="http://www.tibia.com" target="_blank") #[u Tibia]
    |  (saudoso), configurando arquivos de personagens e um banco de dados. Mesmo sem ter ideia do que realmente tudo aquilo significava, eu tinha um objetivo e um único proposito: personalizar o jogo de uma forma que eu acreditava que seria melhor que o original e disponibilizar para amigos e jogadores da comunidade da época. Deu tão certo que na época cheguei a ter 100 players online (yeah).
    p 
    |Depois tentar fugir da "força", fazendo cursos como Técnico em Segurança do Trabalho, aos 21, resolvi me entregar a ela e dedicar minha vida a entender os mistérios que envolvem a área #[strike mística] da tecnologia em prol de proporcionar soluções e resolver problemas.</p>
    p
    | Hoje, aos 
    span(id="idade") 25
    | e próximo de concluir minha graduação em Sistemas de Informação, estudo para me tornar um desenvolvedor conceituado. Mantenho a minha curiosidade sempre aguçada, consumindo cursos online,#[i newsletter] , participando e interagindo com os grupos de devs e na comunidade em geral, para sempre me manter atualizado.
    p
    | Além de aplicar meus estudos em projetos práticos e com propósito, busco auxiliar os devs iniciantes sempre que possuo conhecimento suficiente para tal. Estou aberto para contatos de trabalhos, experiências #[i open source] e discussões sobre esses tópicos a qualquer momento, é só me procurar em qualquer rede social. =)