doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		//-
			Mobile browsers colloring
			meta(name="theme-color", content="rgba(41, 128, 185, .8)")
			meta(name="apple-mobile-web-app-status-bar-style", content="rgba(41, 128, 185, .8)")
			meta(name="msapplication-navbutton-color", content="rgba(41, 128, 185, .8)")
			meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Raul F. de Melo
		//-Favicons
		link(rel="icon" type="img/png", href="img/png/favicon-32x32.png", sizes="32x32")
		link(rel="icon" type="img/png", href="img/png/favicon-16x16.png", sizes="16x16")
		//-OpenGraph
		meta(property="og:title" content="Raul Felipe de Melo")
		meta(property="og:type" content="website")
		meta(property="og:description" content="Desenvoledor front-end")
		meta(property="og:url" content="http://rauldemelo.com.br")
		meta(property="og:image" content="http://rauldemelo.com.br/img/raul.jpg")
		//- Twitter cards
		meta(name="twitter:card" content="summary")
		meta(name="twitter:title" content="Raul Felipe de Melo")
		meta(name="twitter:description" content="Desenvolvedor Front-end")
		meta(name="twitter:url" content="http://rauldemelo.com.br")
		meta(name="twitter:image" content="http://rauldemelo.com.br/img/raul.jpg")
		//- Css
		link(rel="stylesheet", href="index.min.css")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

	body

		include includes/_header.pug

		main.main
			|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa qui sapiente mollitia, sunt ab saepe enim illum magni, nihil placeat quidem quasi, assumenda ullam eaque aperiam nostrum. Aliquam a iste, magni est rem nihil fugiat molestiae saepe doloremque, placeat pariatur possimus dignissimos eius accusamus architecto hic voluptates vel assumenda quisquam autem exercitationem ipsa. Soluta dolores sint itaque rem suscipit quo maiores quia. Dolores in quisquam culpa, eveniet dignissimos at. Beatae dolorem sequi atque obcaecati! Quos aliquid placeat quam voluptas vitae libero ex necessitatibus! Minima pariatur voluptate cumque totam autem enim dolores, laborum, sequi animi voluptates earum veniam porro laboriosam quidem ipsum eligendi vitae ipsam accusantium dignissimos! Rem quia at architecto, officia, temporibus, voluptatem, quod labore amet reiciendis impedit dolore. Incidunt, assumenda blanditiis. Voluptate, illum pariatur eaque nisi harum eum. Sapiente ullam eius hic culpa, ipsum asperiores vitae alias voluptatem non dolores possimus iste cum obcaecati quaerat! Illum culpa nihil nesciunt. Ducimus nobis, error odit, enim temporibus quidem vel possimus neque rem obcaecati harum eos commodi provident eius adipisci alias expedita porro ratione dolorem tenetur fugit vitae non! Et id sit corporis, repellendus sequi labore. Distinctio eius beatae, non molestiae quisquam, eos iusto, placeat dolore quae minus repudiandae iure. Commodi sequi quae velit ipsum, adipisci, officia libero quas, aliquam tempora dolor hic temporibus. Dolore veritatis est minima voluptatibus labore vitae distinctio illum tenetur, cupiditate omnis quo, deleniti harum iusto, laudantium, a. Quaerat sint ullam perspiciatis, exercitationem sunt. Dolore ipsum sunt consequatur sit explicabo aspernatur voluptatem quaerat distinctio temporibus, corporis, debitis magni nobis culpa fugit aliquam. Dolorum, modi vel explicabo aspernatur, molestias error, alias corrupti fugit rem, quidem ut recusandae! Eius harum alias quia deserunt aperiam dolorem ipsam labore beatae temporibus sequi impedit quam neque, architecto nesciunt, voluptatum laborum asperiores illo nulla consectetur, excepturi blanditiis dolore! Incidunt aperiam eaque magni necessitatibus et.
			include includes/_skills.pug
			include includes/_portfolio.pug
			include includes/_social.pug
		//-
			include includes/_home.pug
			include includes/_about.pug

		include includes/_footer.pug
