#home {    
    background-repeat: no-repeat;
    padding: 0;
    .over {
        padding-top: 5rem;
        padding-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: #fff;
        //aqui
        @include bg-opacity($azul1,.8);
        .img {                                  
            img {
                margin: 0 auto;
                border-radius: 50%;
                max-width: 18.125rem;
                height: auto;
                display: block;
            }
        }
        .infos {
            margin-top: 2rem;
            text-align: center;
            width: 100%;            
            font-weight: bold;
            .infos-nome {
                font-size: 2.5rem;
            }
            .infos-cargo {
                font-style: italic;
            }
        }
    }
}