#menu {    
    background-color: $preto-claro;
    max-height: 100vh;    
    ul {
        color: #fff;        
        width: 100%;
        flex-direction: column;
        display: flex;        
        padding: 0;
    }
    ul li {
    display: inline-block;
    margin: 0 5px;
    line-height: 3rem;
    font-size: 1.5rem;
    margin-left: 1rem;  
        a {
            display: block;            
        }
    }
    .menu-nome {
        width: 100%;
        margin: 1rem 0;
        text-decoration: none;
        span {
            font-size: .8rem;
        }
    }
}