#rodape {
    background-color: $azul2;
    display: flex;
    flex-direction: column;
    color: #eee;
    padding-top: .5rem;
    font-size: 0;
    width: 100vw;
    height: 8rem;
    h2 {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        width: auto;
    }
    .rodape-contatos {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 1.4rem auto;
        width: auto;
        flex-grow: 2;
        ul {
            width: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            li {
                display: inline-block;
                margin: 0 .5rem;
                i {
                    font-size: 3rem;
                    transition: all .1s;
                    &:hover {
                        font-size: 3.7rem;
                    }
                }
            }
        }
    }
    .rodape-copyright {
        width: 100%;
        text-align: center;
        background-color: $azul3;
        align-self: flex-end;
        padding: 6px 0 !important;
        font-size: .8rem;
        p {
            display: inline-block;
            height: 100%;
            margin: 0;
        }
    }
}