#rodape {
    background-color: #2980b9;
    display: flex;
    flex-direction: column;    
    color: #eee;
    height: 100px;
    padding-top: 1rem;
    h2{
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }
    .rodape-contatos {
        flex-grow: 3;
        display: flex; 
        align-items: center;        
        text-align: center;         
        ul{            
            width: 100%;
        }                              
        ul li {                
                display: inline-block;
                margin: 0 .5rem;
                i{
                    font-size: 2rem;
                }
            }
    }
    .rodape-copyright {
        width: 100%;
        text-align: center;
        background-color: #084e7c;
        align-self: flex-end;        
        padding: 6px 0;
        font-size: .8rem;
        p {
            display: inline-block;
            height: 100%;
        }
    }
}