block vars-content

doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		block mobile-coloring-content

		block title-content

		//-Favicons
			link(rel="icon" type="img/png", href="img/png/favicon-32x32.png", sizes="32x32")
			link(rel="icon" type="img/png", href="img/png/favicon-16x16.png", sizes="16x16")

		block seo-content

		block css-content

		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

	body

		block body-content

		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/typeit/4.4.0/typeit.min.js')

		block script-content
